In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [3]:
data_train = pd.read_csv('data/train.csv')
data_test = pd.read_csv('data/test.csv')

In [4]:
data_train.sample(3)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
13334,13335,2449,106,16,192,51,603,246,218,96,...,0,0,0,0,0,0,0,0,0,6
10037,10038,3301,45,5,42,1,1874,222,228,142,...,0,0,0,0,0,0,0,1,0,7
2525,2526,2720,122,16,67,-18,379,245,226,105,...,0,0,0,0,0,0,0,0,0,5

In [5]:
# we make x to train
x_all = data_train.drop(['Cover_Type'], axis =1)
# z to train
y_all = data_train['Cover_Type']

In [6]:
from sklearn.model_selection import train_test_split
num_test = 0.20
X_train, X_test, y_train, y_test = train_test_split(x_all, y_all,
                                                    test_size=num_test,
                                                    random_state=23)

In [7]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import make_scorer, accuracy_score

knn = KNeighborsClassifier(n_neighbors=7)

knn.fit(X_train, y_train);

In [8]:
pred = knn.predict(X_test)

In [9]:
print(accuracy_score(y_test, pred))

0.8048941798941799

In [10]:
data_test.sample(3)

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
471677,486798,3180,115,18,661,139,607,248,219,93,...,0,1,0,0,0,0,0,0,0,0
130979,146100,3015,122,12,0,0,4788,241,230,117,...,0,0,0,0,0,0,0,0,0,0
410360,425481,3278,323,9,631,50,1943,196,230,174,...,1,0,0,0,0,0,0,0,0,0

In [14]:
pred_final = knn.predict(data_test)
pred_final

array([1, 1, 1, ..., 3, 3, 3], dtype=int64)

In [19]:
raw_data = {'Id': data_test['Id'], 
            'Cover_Type': pred_final
           }
df = pd.DataFrame(raw_data, columns = ['Id', 'Cover_Type'])
df.to_csv('submission.csv',index=None)
raw_data

{'Id': 0          15121
 1          15122
 2          15123
 3          15124
 4          15125
 5          15126
 6          15127
 7          15128
 8          15129
 9          15130
 10         15131
 11         15132
 12         15133
 13         15134
 14         15135
 15         15136
 16         15137
 17         15138
 18         15139
 19         15140
 20         15141
 21         15142
 22         15143
 23         15144
 24         15145
 25         15146
 26         15147
 27         15148
 28         15149
 29         15150
            ...
 565862    580983
 565863    580984
 565864    580985
 565865    580986
 565866    580987
 565867    580988
 565868    580989
 565869    580990
 565870    580991
 565871    580992
 565872    580993
 565873    580994
 565874    580995
 565875    580996
 565876    580997
 565877    580998
 565878    580999
 565879    581000
 565880    581001
 565881    581002
 565882    581003
 565883    581004
 565884    581005
 565885    581006
 565886    581007
 565887    581008
 565888    581009
 565889    581010
 565890    581011
 565891    581012
 Name: Id, Length: 565892, dtype: int64,
 'Cover_Type': array([1, 1, 1, ..., 3, 3, 3], dtype=int64)}